.app {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f0eded;
  padding: 1px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 1px; 
  height: 100%;
}

.box {
  width: calc(80% - 10px); 
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.thin {
  width: calc(4% - 0px); 
}
.ythin {
  width: calc(4% - 0px); 
}
.zthin {
  width: calc(10% - 0px); 
}

.box .wide {
  width: calc(33.333% - 10px); 
  background-color: #f5f2f2;
}

.footer {
  
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
}

input {
  width: 60%; 
  margin-bottom: 12px;
  padding: 0.2em 0.8em;
  font-size: 16px;
  border-radius: 8px;
}
label {
  margin-left: 8px;
}

.aro {
  display: flex;
  justify-content: center;
}
.in {
  font-size: 70%;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 22px;
  color: black;
  align-items: center;
  background-color: #b9b9ffcd;
  border-radius: 4px;
  padding: 6px 10px;
}

.footera {
  
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  /* position: fixed; */
  bottom: 0; 
  left: 0;
  right: 0;
  font-size: 0.8em;
}

.solution{
  display: flex;
  background-color: #ffffff;
  padding: 0.1em 3em;
}

.center {
  flex-grow: 1; /* Hacer que los elementos se expandan para ocupar todo el espacio disponible */
  display: flex;
  justify-content: flex-end
}
.center:hover {
  border: solid;
  border-color: #646cff;
  cursor: pointer;
}

.steps {
  border-radius: 3px;
  max-height: 200px; /* Define la altura máxima deseada */
  overflow-y: auto; /* Activa el desplazamiento vertical cuando el contenido excede la altura máxima */
}