:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(25, 15, 15, 0.87);
  background-color: #e0e0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background-color: #e0e0e0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 2.5em;
  line-height: 0;
  color: rgb(43, 70, 146);
  font-weight: bold; /* Para hacer el texto más ancho */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Efecto resplandor */
  transition: transform 0.8s ease-in-out; /* Transición suave para el hover */
}

h1:hover {
  transform: scale(1.2); /* Escalado en el hover para el efecto de balanceo */
}

h4{
  padding: none;
  margin: 1px 1px;
  font-size: 0.9em;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(28, 28, 101);
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d6f7f3;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 12px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.row{
  margin-right: 250px;
}

p{
  margin: 0px 4px;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 2em;
  }
  :root{
    display: flex;
    width: 100%;
  }
  body{
    width: 100%;
  }
  button{
    padding: 4px 6px;
    margin-left: 4px;
  }
  label{
    font-size: 0.8em;
    font-weight: 500;
  }
}

